.iconStyleDelete {
    cursor: pointer;
    color: #E10000;
    height: 20px;
}

.iconStyleEdit {
    cursor: pointer;
    color: #1BB300;
    height: 20px;
}

.iconStyleEditWhite {
    cursor: pointer;
    color: #ffffff;
    height: 15px;
}

.textBackground {
    color: white;
    background: black;
    opacity: 90%;
    border-radius: 5px;
}

.adminNav {
    position: relative;
}

.documentBackground {
    font-family: Calibri, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    background: url("highRes-logo.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.searchTable {
    font-family: Calibri, sans-serif;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    color: white;
    --bs-bg-opacity: 0.80;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.searchTableAdd {
    font-family: Calibri, sans-serif;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 10px;
    color: white;
    --bs-bg-opacity: 0.80;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    cursor: pointer;
}

.userTable {
    font-family: Calibri, sans-serif;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 10px;
    color: white;
    --bs-bg-opacity:0.80;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.tableBorders{
.tableBorders {
    border-right: 1px solid #ffffff;
}

.watchlistTable {
    border-radius: 10px;
    color: white;
    --bs-bg-opacity: 0.85;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.submitButton {
    margin-top: 10px;
    position: relative;
    right: 70px;
    opacity: 75%;
}

.loginButton {
    --bs-btn-color: #fff;
    --bs-btn-bg: #002851;
    --bs-btn-border-color: #212529;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #424649;
    --bs-btn-hover-border-color: #373b3e;
}

.registerButton {
    --bs-btn-color: #fff;
    --bs-btn-bg: #002851;
    --bs-btn-border-color: #212529;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #424649;
    --bs-btn-hover-border-color: #373b3e;
}

.inputBoxes {
    display: inline-block;
    position: relative;
    right: 120px;
    border-radius: 5px;
    margin-top: 5px;
}

.priceLabel {
    display: inline-block;
    position: relative;
    right: 125px;
    margin-top: 10px;
}

.parent {
    margin-top: 5px;
    text-align: center;
}

.navbarGreeting {
    font-size: 24px;
    font-weight: bold;
}

.checkButton {
    color: #1BB300;
    display: flex;
    cursor: pointer;
    height: 20px;
    margin-left: 5px;
    margin-top: 7px;
}

.alertBackground {
    --bs-alert-color: #fff;
    --bs-alert-bg: #FF0000;
    --bs-alert-border-color: #f5c2c7;
}